<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" 
            xsi:type="File" 
            archiveEvery="Minute"  
            archiveFileName = "Logs/HostGirder-{########}.log"  
            archiveNumbering = "Date"  
            archiveDateFormat = "yyyyMMdd"  
            maxArchiveFiles = "4" 
            fileName="Logs/HostGirder.log" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" >
    </target>
    <target name="logconsole"
            xsi:type="ColoredConsole" 
            useDefaultRowHighlightingRules="true" 
            errorStream="true" 
            enableAnsiOutput="false" 
            detectConsoleAvailable="true" 
            detectOutputRedirected="true" >
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logconsole,logfile" />
  </rules>
</nlog>